# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\Patrik Slovic\Desktop\FAKS\2. GODINA\3. semestar\JAVA\Pripreme\src\main\java\hr\java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
